{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>

  <form method="post" class="form-horizontal">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}